{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href='assets/css/home.css' rel="stylesheet" /> 
{% endblock %}

{% block title %}Log in!{% endblock %}

{% block body %}
<h1>Home Page</h1>
<section class="chronique_section">
<h2>Voir votre horoscope</h2>
    <form action="{{ path("horoscope_edit", {id: chronique.id}) }}" method="post" class="chronique_container">
        <h3>{{chronique.SigneAstro}}</h3>
        <h4>Votre Couple</h4>
        <textarea type="text" name="votre_couple" id="votre_couple" >{{chronique.Couple}}</textarea>
        <a href='#' name="votre_couple" class="random_btn">Aléatoire</a>
        <h4>Votre Vie</h4>
        <textarea type="text" name="votre_vie_solo" id="votre_vie_solo" >{{chronique.Vie}}</textarea>
        <a href='#' name="votre_vie_solo" class="random_btn">Aléatoire</a>
        <h4>Conseils Amoureux</h4>
        <textarea type="text" name="conseils_amoureux" id="conseils_amoureux" >{{chronique.Conseils}}</textarea>
        <a href='#' name="conseils_amoureux" class="random_btn">Aléatoire</a>
        <input type="submit" value="Editer">
    </form>
</section>
<script src="/assets/js/RandomSuggest.js"></script>
{% endblock %}